<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Lonely Planet</title>
  <script src="static/routes.js" type="text/javascript"></script>
  <link href="static/all.css" media="screen" rel="stylesheet" type="text/css">

  <script type="text/javascript" charset="utf-8">
    imagePath = "/images/"
  </script>
</head>

<body>

  <div id="container">
    <div class="message-wrapper">
      <div style="overflow: visible; opacity: 1; display: none;" class="flash-messages " id="flash-messages"></div>
    </div>
    <div id="header">
      <div id="logo"></div>
      <h1>Lonely Planet: <%= destination[:title] %></h1>
    </div>    

  <div id="wrapper">

  <div id="sidebar">
    <div class="block">
      <h3>Navigation</h3>
      <div class="content">
        <div class="inner">
          <% ancestors.each do |node| %>
            <ul>
              <li>
                <a href="<%= node[:id] %>.html"><%= node[:name] %></a>
          <% end %>
                
                <ul>
                  <li class="current">
                    <%= destination[:title] %>
              
                    <ul>
                      <% children.each do |node| %>
                        <li>
                          <a href="<%= node[:id] %>.html"><%= node[:name] %></a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
                
          <% ancestors.length.times do %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="block">
      <div class="secondary-navigation">
        <ul>
          <li class="first">
            <h2><%= destination[:title] %></h2>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content">            
        <div class="inner">
          <h3>Introduction</h3>
          <% destination[:introduction][:overview].each do |paragraph| %>
            <p>
              <%= paragraph.text %>
            </p>
          <% end %>
          
          <h3>History</h3>
          <p class="overview">
            <%= destination[:history][:overview].text %>
          </p>
        
          <% destination[:history][:paras].each do |paragraph| %>
            <p>
              <%= paragraph.text %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
<div style="overflow: hidden; position: absolute; display: none; cursor: move; list-style-type: none; list-style-image: none; list-style-position: outside;" id="dragHelper"></div><div style="position: absolute; height: 1px; width: 1px; top: -1000px; left: -1000px;"><span class="ygtvtm">&nbsp;</span><span class="ygtvtmh">&nbsp;</span><span class="ygtvtp">&nbsp;</span><span class="ygtvtph">&nbsp;</span><span class="ygtvln">&nbsp;</span><span class="ygtvlm">&nbsp;</span><span class="ygtvlmh">&nbsp;</span><span class="ygtvlp">&nbsp;</span><span class="ygtvlph">&nbsp;</span><span class="ygtvloading">&nbsp;</span></div></body></html>
